<% if user_signed_in? %>
    <% if onsen_spot.liked_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
        <p><span>お気に入り解除: </span><%=link_to onsen_spot.likes.count, users_onsen_spot_likes_path(onsen_spot.id), method: :delete, remote: true %></p>
    <% else %>
        <p><span>お気に入り登録: </span><%=link_to onsen_spot.likes.count, users_onsen_spot_likes_path(onsen_spot.id), method: :post, remote: true %></p>
    <% end %>
<% else %>
    <p><span>お気に入り数: </span><%= onsen_spot.likes.count %></p>
<% end %>