<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <table class="customer_info mb3">
                <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td>名前　　</td>
                        <td><%= @onsen_spot.name %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>