<div class="container">
    <div class="row">
        <h2>効能編集</h2><br>
        <div class="col-xs-10 col-xs-offset-1">
            <%= form_for(@kounou, url: admins_kounou_path) do |f| %>
                <%= f.label :効能 %>
                <%= f.text_field :name %>
                <%= f.submit "変更を保存する", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>