<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-2-offset">
          <p>&nbsp;</p>
          <h1 class="article-title">「 銭湯Log - SentoLog - 」とは</h1>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
            <div class="article-content">
              <div class="article-border"></div>
                <h2 class="arcticle-head">サイト概要</h2>
              <div class="article-border"></div>
                <h4 class="contents-intro">
                ・銭湯、温泉好きが集まって、自分の好きな温泉を共有したり、まだ見ぬ秘湯を探したりできるサイト<br>
                </h4>
                <h4 class="contents-intro">
                ・泉質、特徴、都道府県などを会員が登録でき、発信、評価できるサイト<br>
                </h4>
                <h4 class="contents-intro">
                ・日本におよそ20000ほどある温泉施設の情報を共有し合えるサービス<br>
                </h4>
            </div>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
            <div class="article-content">
              <div class="article-border"></div>
                <h2 class="arcticle-head">サイトテーマ</h2>
              <div class="article-border"></div>
                <h4 class="contents-intro">
                ・画像投稿や口コミで温泉好きのの方の情報が得られる<br>
                </h4>
                <h4 class="contents-intro">
                ・温泉の泉質には「適応症」というのがあり、それぞれの疲れた体を癒せる場所を発見できる<br>
                </h4>
                <h4 class="contents-intro">
                ・居心地のいい、裸の付き合いができるようなサイト<br>
                </h4>
            </div>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
            <div class="article-content">
              <div class="article-border"></div>
                <h2 class="arcticle-head">テーマを選んだ理由</h2>
              <div class="article-border"></div>
                <h4 class="contents-intro">
                ・友人と月に2回ほど銭湯や温泉にいく機会があり、その際、入浴したことの無いところや、<br>
                </h4>
                <h4 class="contents-intro">
                実際に入浴して良かったところによく行くので、温泉を調べたり、評価できるものがあると、<br>
                </h4>
                <h4 class="contents-intro">
                決定する指針、または有益な情報を共有できると思い作成しました。<br>
                </h4>
            </div>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
            <div class="article-content">
              <div class="article-border"></div>
                <h2 class="arcticle-head">ターゲットユーザー</h2>
              <div class="article-border"></div>
                <h4 class="contents-intro">
                ・老若男女<br>
                </h4>
                <h4 class="contents-intro">
                ・温泉好き、銭湯好き<br>
                </h4>
                <h4 class="contents-intro">
                ・リフレッシュされたい方<br>
                </h4>
            </div>
          <p>&nbsp;</p>
          <h3><%= link_to 'トップページへどうぞ', root_path, class: "fa fa-desktop", style: "color: black; border-bottom: 1px solid black;" %></h3>
          <p>&nbsp;</p>
        </div>
    </div>
</div>